.container {
  width: 100%;
  text-decoration: none;
  color: black;
}

.container :hover {
  border-radius: 8px;
  background-color: lightgoldenrodyellow;
  transition-duration: 0.5s;
}

.container p {
  margin-top: 2%;
}

.card {
  padding: 2%;
}
