.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  text-align: center;
  overflow: hidden;
  border-right: 4px solid lightgreen;
  white-space: nowrap;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s infinite;
}

@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: lightgreen;
  }
}

.h2 {
  margin-top: 5%;
  margin-bottom: 2%;
  text-decoration: underline;
}

@media screen and (max-width: 758px) {
  .h1 {
    white-space: normal;
    animation: none;
    border-color: transparent;
  }
}
