@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://raw.githubusercontent.com/mertsabinov/mertsabinov.com/2023-oct/public/bg-img.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Roboto", sans-serif;
}
