.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
}

@media screen and (max-width: 758px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
